@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.underline-animation {
  font-family: "Roboto";
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* For browsers that do not support background-clip: text */
  -webkit-text-fill-color: transparent; /* For webkit browsers */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image-div-adjust {
  height: auto;
}

.index-second {
  color: #176b87;
  margin: 1rem;
  padding: 2rem;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  cursor: pointer;
}

.index-second:hover {
  text-decoration: underline;
  text-decoration-color: #053885;
}

.index-section1 {
  background-color: #053885;
}

.index-section1-p {
  color: white;
  font-family: Poppins;
  font-weight: 600;
  font-size: 2.5rem;
}

.display-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
}

.display-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

.display-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
}

.aqua-body {
  font-family: "Poppins" !important;
}

.cus-nav {
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px;
}

:root {
  --custom-aq-button-bg-color: #053b50;
  /* Custom button background color */
  --custom-aq-button-border-color: #176b87;
  /* Custom button border color */
  --custom-aq-button-text-color: #f8f0e5;
  /* Custom button text color */
}

.img-border {
  border-style: none;
}

.offcanvas-bottom {
  height: 50% !important;
  /* Set to your desired height */
}

.custom-button {
  background-color: var(--custom-aq-button-bg-color) !important;
  border-color: var(--custom-aq-button-border-color) !important;
  color: var(--custom-aq-button-text-color) !important;
}

.dynamic-product {
  display: flex;
}

.fixed-column {
  position: sticky;
  top: 0;
  /* Adjust this value based on your header/nav height */
  height: 100vh;
  overflow-y: auto;
}

.scrollable-column {
  height: 100vh;
  overflow-y: auto;
}

.footer-aqua {
  background-color: #053885;
  padding: 1rem;
  color: white;
}

.custom-button:hover {
  background-color: var(--custom-aq-button-text-color);
  color: var(--custom-aq-button-bg-color);
}

.modal-footer {
  border-top: none !important;
  border-style: none;
}

.modal-header {
  border-bottom: none !important;
}

.padd-inner-content {
  padding-top: none !important;
  padding-bottom: none !important;
  padding: 1.5rem;
}

.tabs-background {
  padding: 0.5rem;
  background-color: #053b50 !important;
  border-radius: 1rem;
  color: #f8f0e5;
  margin: 0.5rem;
}

.input-container {
  position: relative;
}

.password-input {
  padding-right: 30px;
  /* Space for the icon */
}

.input-group-text {
  background-color: transparent !important;
}

.nav-tabs .nav-link {
  border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
  border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
  color: var(--bs-white);
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.viewpass {
  position: absolute;
  top: 4px;
  right: 11px;
  font-size: 20px;
  cursor: pointer;
}

.input-container {
  position: relative;
  width: 300px;
  /* Adjust the width as needed */
}

/* Style for the input field */
.input-field {
  width: 100%;
  padding: 10px 30px 10px 10px;
  /* Adjust the padding for your desired spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the icon */
.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
}

.show-password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.aq-card {
  width: 20rem;
  border-radius: 1.5rem;
  margin: 1rem;
}

.aq-card-image-vertical {
  border-radius: 1rem;
  margin: -10px;
}

.custom-image {
  border-radius: 1rem !important;
}

.custom-image:active {
  border-radius: 1rem !important;
}

.rounded-25 {
  border-radius: 25px !important;
}

.gradient-1 {
  background: linear-gradient(140deg, #7c0168, #870172, #230018);
}

/* about */

.about-large-title {
  padding: 3rem;
  color: linear-gradient(146deg, #573aa5, #14bf99, #053885, #df0e9c);
  background-size: 800% 800%;

  animation: AnimationName 7s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 49%;
  }

  50% {
    background-position: 100% 52%;
  }

  100% {
    background-position: 0% 49%;
  }
}

.about-title {
  padding: 6rem;
}

.aqua-crystal-color {
  border-radius: 2rem;
  height: 600px;
  padding: 2rem;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.toast-body {
  padding: 5px;
  color: white !important;
}

.dialog-customs {
  border-radius: 5rem !important;
}

.modal-content {
  border-radius: 2.7rem !important;
  margin: 5px !important;
}

.modal-border-radius .modal-content {
  border-radius: 2rem;
  /* Adjust the value as needed */
}

.aqua-auth-dialog {
  border-radius: 2rem;
}

.image-card-width {
  width: 440px;
}

.card-carousel {
  padding: 1rem;
}

@media screen {
}

.img-card-display {
  background-color: #053b50;
  padding: 0.5rem;
  color: white;
  text-align: center;
  border-radius: 1rem;
  opacity: 80%;
}

.aqua-vertical-card-title {
  font-size: 18px;
}
.aqua-vertical-margin-align {
  margin-left: 95px;
  border-radius: 3rem !important;
  margin-top: -20px;
}
.aqua-horizontal-custom-card {
  margin: 24%;
}

.aqua-vertical-revamp-card {
  width: 16rem;
}

.aqua-vertical-fav-button-align {
  margin-left: 150px;
}

.aqua-vertical-fav-button {
  border-radius: 130px !important;
}

.card-text {
  letter-spacing: 0.1em;
}

.aqua-accordian {
  border-radius: 1rem;
}

.aqua-category-card {
  border-style: none;
  border-radius: 2rem;
}

.carousel item:active {
  border-radius: 2rem !important;
}

.carousel-indicators {
  margin-left: 16rem !important;
}

.carousel inner {
  border-radius: 2rem !important;
}

.align-margin {
  margin-bottom: 15px;
}

.badge-product-align {
  position: absolute;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.product-card-body {
  padding: 10px;
}

.product-cart {
  position: absolute;
  right: 0;
  /* Added 'px' to define the unit */
  top: 0;
  /* Added 'px' to define the unit */
  z-index: 1;
  border-radius: 50%;
  /* Corrected property name for border radius */
  padding: 10px;
  /* Removed quotes */
  /* Corrected property name for background color */
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Removed the trailing slash */
}

.product-price-align {
  font-size: 3rem;
}

.dynamic-product-price-brand {
  display: flex;
}

.dynamic-product-brand {
  margin: 10px;
  font-size: 2.5rem;
}

.dynamic-product-cart-fav {
  display: flex;
}

.width-adjust {
  width: 150px !important;
}

.cart-card-width {
  width: 350px;
}

.accordion-button {
  padding: 5px 10px 5px 10px;
}

.cart-title:hover {
  color: #230018;
}

.cart-text-price {
  color: #14bf99;
}

/* product page */

/* Add this inside your component or in your global CSS file */
.super-scroll-container {
  display: flex;
}

.fixed-image-section {
  position: sticky;
  top: 0;
  /* Adjust this value based on your header height or desired offset */
  height: 100vh;
  overflow-y: auto;
}

.scrollable-content-section {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
  /* Adjust if necessary */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .super-scroll-container {
    flex-direction: column;
  }

  .fixed-image-section,
  .scrollable-content-section {
    position: relative;
    top: auto;
    height: auto;
  }
}

.aqua-cart-margin-right {
  margin-right: 22px;
}

.card-body .aqua-username::first-letter {
  font-size: 1.5em;
  /* Adjust as needed */
  color: #ff5733;
  /* Adjust as needed */
  /* Use !important only as a last resort */
}

.pdescription::first-letter {
  font-size: 4rem;
  color: #053b50;
}

.dashboard-cart-card {
  height: 100px;
}

.user-dahsboard-id {
  font-size: 1.2rem;
  font-weight: 600;
}

.user-since {
  font-size: 0.8rem;
  font-weight: 400;
}

.text-welcome {
  color: #1679ab;
}

.dashboard-list-item {
  border-style: none;
}

.dashboard-menu-item {
  font-size: 1.8rem;
  padding: 0.5rem;
}

.user-dashboard-height {
  height: 520px;
  overflow-y: auto;
}

.footer-col-heading {
  font-size: 14px;
  color: #eef5ff;
  margin-bottom: 5px;
}

.privacy-card {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.privacy-card:hover {
  -webkit-transform: translate(20px, -10px);
  -ms-transform: translate(10px, -10px);
  transform: translate(10px, -10px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.footer-item-adjust {
  font-size: 14px;
  text-decoration: none;
  color: white;
  margin-bottom: 1px;
}

.terms-and-conditons-height {
  height: 500px;
  overflow-y: scroll;
}

.decorate {
  text-decoration: underline;
}

.align-contact-card {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; /* Example width, adjust as needed */
  max-width: 500px; /* Example max-width, adjust as needed */
}

.address-card {
  background-color: white !important;
}

.contact-card {
  height: 100px;
}

.checkout-margin {
  margin-right: 11px;
  margin-left: 11px;
}
