@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Poppins";
}
.aqua-body {
  font-family: "Poppins" !important ;
}
.cus-nav {
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px;
}
:root {
  --custom-aq-button-bg-color: #053b50; /* Custom button background color */
  --custom-aq-button-border-color: #176b87; /* Custom button border color */
  --custom-aq-button-text-color: #f8f0e5; /* Custom button text color */
}
.custom-button {
  background-color: var(--custom-aq-button-bg-color);
  border-color: var(--custom-aq-button-border-color);
  color: var(--custom-aq-button-text-color);
}

.custom-button:hover {
  background-color: var(--custom-aq-button-text-color);
  color: var(--custom-aq-button-bg-color);
}

.modal-footer {
  border-top: none !important;
  border-style: none;
}

.modal-header {
  border-bottom: none !important;
}

.padd-inner-content {
  padding-top: none !important;
  padding-bottom: none !important;
  padding: 2.5rem;
}

.tabs-background {
  padding: 0.5rem;
  background-color: #053b50 !important;
  border-radius: 0.5rem;
  color: #f8f0e5;
  margin: 0.5rem;
}

.input-container {
  position: relative;
}

.password-input {
  padding-right: 30px; /* Space for the icon */
}

.input-group-text {
  background-color: transparent !important;
}
.nav-tabs .nav-link {
  border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
  border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
  color: var(--bs-white);
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}
.viewpass {
  position: absolute;
  top: 4px;
  right: 11px;
  font-size: 20px;
  cursor: pointer;
}
.input-container {
  position: relative;
  width: 300px; /* Adjust the width as needed */
}

/* Style for the input field */
.input-field {
  width: 100%;
  padding: 10px 30px 10px 10px; /* Adjust the padding for your desired spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the icon */
.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
}
.show-password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.aq-card {
  width: 20rem;
  border-radius: 1.5rem;
  margin: 1rem;
}

.aq-card-image-vertical {
  border-radius: 1rem;
  margin: -10px;
}

.custom-image {
  border-radius: 1rem !important;
}
.custom-image:active {
  border-radius: 1rem !important;
}
.rounded-25 {
  border-radius: 25px !important;
}
.gradient-1 {
  background: linear-gradient(140deg, #7c0168, #870172, #230018);
}
/* about */

.about-large-title {
  padding: 3rem;
  color: linear-gradient(146deg, #573aa5, #14bf99, #053885, #df0e9c);
  background-size: 800% 800%;

  animation: AnimationName 7s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 49%;
  }
  50% {
    background-position: 100% 52%;
  }
  100% {
    background-position: 0% 49%;
  }
}

.about-title {
  padding: 6rem;
}

.aqua-crystal-color {
  border-radius: 2rem;
  height: 600px;
  padding: 2rem;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dialog-customs {
  border-radius: 5rem !important;
}

.modal-content {
  border-radius: 2.7rem !important;
  margin: 5px !important;
}

.modal-border-radius .modal-content {
  border-radius: 2rem; /* Adjust the value as needed */
}

.aqua-auth-dialog {
  border-radius: 2rem;
}
.image-card-width {
  width: 240px;
}

.card-carousel {
  padding: 1rem;
}

.img-card-display {
  background-color: #053b50;
  padding: 0.5rem;
  color: white;
  text-align: center;
  border-radius: 1rem;
  opacity: 80%;
}

.aqua-accordian {
  border-radius: 1rem;
}

.aqua-category-card {
  border-style: none;
  border-radius: 2rem;
}

.carousel item:active {
  border-radius: 2rem !important;
}

.carousel-indicators {
  margin-left: 16rem !important;
}

.carousel inner {
  border-radius: 2rem !important;
}

.align-margin {
  margin-bottom: 15px;
}

.badge-product-align {
  position: absolute;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.product-card-body {
  padding: 10px;
}

.product-cart {
  position: absolute;
  right: 0; /* Added 'px' to define the unit */
  top: 0; /* Added 'px' to define the unit */
  z-index: 1;
  border-radius: 50%; /* Corrected property name for border radius */
  padding: 10px; /* Removed quotes */ /* Corrected property name for background color */
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Removed the trailing slash */
}

.product-price-align {
  font-size: 3rem;
}

.dynamic-product-price-brand {
  display: flex;
}

.dynamic-product-brand {
  margin: 10px;
  font-size: 2.5rem;
}

.dynamic-product-cart-fav {
  display: flex;
}

.width-adjust {
  width: 150px;
}
